<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta charset='utf-8' />
  <!-- TODO: description and such -->
  <title>Cameron Sampson</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,600' rel='stylesheet' type='text/css' />
  <link href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css' />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet' type='text/css' />
  <link href='/css/site.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <main class='content'>
    <header class='intro'>
      <h1 class='intro-header'>Hi. I'm Cameron.</h1>

      <p class='intro-subheader'>I'm a web developer/designer living in New Orleans. <br />During the day, I build kickass things at <a href='https://www.luc.id'>Lucid</a>.</p>
    </header>

    <ul class='social-links'>
      <li class='social-links-item'><a href='#' class='social-links-anchor'>GitHub</a></li>
      <li class='social-links-item'><a href='#' class='social-links-anchor'>Twitter</a></li>
      <li class='social-links-item'><a href='#' class='social-links-anchor'>LinkedIn</a></li>
      <!-- <li class='social-links-item'><a href='#' class='social-links-anchor'>Public Key</a></li> -->
    </ul>
  </main>
</body>
</html>
