<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='description' content="A front-end developer with design sense and a passion for clean and sensible interfaces." />
  <title>Cameron Sampson - UI Developer</title>
  <%= css :application %>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css' />
  <link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel="stylesheet">
  <script type='text/javascript' src='//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.js'></script>
  <script type='text/javascript'>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34434377-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
</head>
<body>
  <header class='page-header'>
    <h1 class'page-header-title'>Cameron Sampson ~ web developer</h1>
    <p class='page-header-spiel'>I'm a front-end developer with design sense and a passion for clean and sensible interfaces.</p>

    <nav class='personal-links'>
      <ul>
        <li><a class='fa-github fa' href='http://github.com/csampson'><span>GitHub</span></a></li>
        <li><a class='fa-twitter fa' href='http://twitter.com/vaerros'><span>Twitter</span></a></li>
        <li><a class='fa-linkedin fa' href='http://www.linkedin.com/in/cameronsampson'><span>LinkedIn</span></a></li>
      </ul>
    </nav>
  </header>

  <section class='skills'>
    <h2 class='skills-header'><span>skills</span></h2>

    <figure class='skills-breakdown'>
      <figcaption class='development-spiel'>&darr; I like building things.</figcaption>

      <div class='skills-breakdown-divisions'>
        <span class='development-division'>Development</span>
        <span class='design-division'>Design</span>
      </div>

      <figcaption class='design-spiel'>...but I like tweaking designs, too. &uarr;</figcaption>
    </figure>

    <dl class='skills-chart'>
      <dt class='skill-name'>HTML &amp; CSS <span>skills</span></dt>
      <dd class='skill-proficiency advanced'><span>advanced</span></dd>

      <dt class='skill-name'>JavaScript <span>skills</span></dt>
      <dd class='skill-proficiency skilled'><span>skilled</span></dd>

      <dt class='skill-name'>Ruby <span>skills</span></dt>
      <dd class='skill-proficiency adept'><span>adept</span></dd>
    </dl>

    <ul class='skills-interests'>
      <li><span class='icon'></span> <span>Love me some code.</span></li>
      <li><span class='icon brush'></span> <span>I like applying creativity.</span></li>
      <li><span class='icon user'></span> <span>I'm interested in UX design.</span></li>
    </ul>
  </section>

  <section class='portfolio'>
    <h2 class='portfolio-header'><span>projects &amp; contributions</span></h2>

    <ul class='portfolio-projects'>
      <li class='portfolio-project contribution even'><a href='http://crime-heatmap.herokuapp.com'>
        <img src='/images/nolacrimeheatmap.png' alt='NOLA Crime Heatmap' />
      </a></li>

      <li class='portfolio-project contribution'><a href='http://www.datapp.org'>
        <img src='/images/datapp.png' alt='DatApp' />
      </a></li>

      <li class='portfolio-project even'><a href='http://wiki.go-docky.com'>
        <img src='/images/docky.png' alt='Docky' />
      </a></li>

      <li class='portfolio-project'><a href='http://roxterm.sourceforge.net/'>
        <img src='/images/roxterm.png' alt='ROXTerm' />
      </a></li>
    </ul>
  </section>

  <section class='about-me'>
    <h2 class='about-me-header'><span>about me</span></h2>

    <p>I currently live and work in New Orleans, Louisiana as a UI developer for a company called <a href='http://www.federatedsample.com'>Federated Sample</a>.</p>

    <p>My professional interests are front-end development(HTML, CSS, JavaScript) with a particular growing interest in UX and user-centric design in general.
    I'm always interested in learning about new ways to convey information in attractive, but functional ways.</p>

    <p>I'm a weird kind of combination of a developer, designer, and pursuer of various geeky endeavors.</p>
  </section>
</body>
</html>

