<!DOCTYPE html>
<html lang='en-US'>
<head>
	<meta charset='utf-8' />
	<meta name='viewport' content='width=device-width, initial-scale=1' />
	<meta name='description' content="A front-end developer with design sense and a passion for clean and sensible interfaces." />
	<title>Cameron Sampson - UI Developer</title>
  <%= css :application %>
	<link href='//fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css' />
	<link href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' rel="stylesheet">
	<script type='text/javascript' src='//cdn.jsdelivr.net/html5shiv/3.7.0/html5shiv.js'></script>
	<script type='text/javascript'>
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34434377-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
</script>
</head>
<body>
	<header>
		<h1>Cameron Sampson ~ web developer</h1>
		<p>I'm a front-end developer with design sense and a passion for clean and sensible interfaces.</p>

		<nav id='personal-links'>
			<ul>
				<li><a class='icon-github' href='http://github.com/csampson'><span>GitHub</span></a></li>
				<li><a class='icon-twitter' href='http://twitter.com/vaerros'><span>Twitter</span></a></li>
				<li><a class='icon-linkedin' href='http://www.linkedin.com/in/cameronsampson'><span>LinkedIn</span></a></li>
			</ul>
		</nav>
	</header>

	<section id='skills'>
		<h2><span>skills</span></h2>

		<figure>
			<figcaption>&darr; I like building things.</figcaption>

			<div>
				<span>Development</span>
				<span class='design'>Design</span>
			</div>

			<figcaption>...but I like tweaking designs, too. &uarr;</figcaption>
		</figure>

		<dl>
			<dt>HTML &amp; CSS <span>skills</span></dt>
			<dd class='advanced'><span>advanced</span></dd>

			<dt>JavaScript <span>skills</span></dt>
			<dd class='skilled'><span>skilled</span></dd>

			<dt>Ruby <span>skills</span></dt>
			<dd class='novice'><span>novice</span></dd>
		</dl>

		<ul>
			<li><span class='icon'></span> <span>Love me some code.</span></li>
			<li><span class='icon brush'></span> <span>I like applying creativity.</span></li>
			<li><span class='icon user'></span> <span>I'm interested in UX design.</span></li>
		</ul>
	</section>

	<section id='portfolio'>
		<h2><span>projects &amp; contributions</span></h2>

		<ul>
			<li class='contribution even'><a href='http://crime-heatmap.herokuapp.com'>
				<img src='/images/nolacrimeheatmap.png' alt='NOLA Crime Heatmap' />
			</a></li>

			<li class='contribution'><a href='http://www.datapp.org'>
				<img src='/images/datapp.png' alt='DatApp' />
			</a></li>

			<li class='even'><a href='http://wiki.go-docky.com'>
				<img src='/images/docky.png' alt='Docky' />
			</a></li>

			<li><a href='http://roxterm.sourceforge.net/'>
				<img src='/images/roxterm.png' alt='ROXTerm' />
			</a></li>
		</ul>
	</section>

	<section id='about'>
		<h2><span>about me</span></h2>

		<p>I currently live and work in New Orleans, Louisiana as a UI developer for a company called <a href='http://iseatz.com'>iSeatz</a>.</p>

		<p>My professional interests are front-end development(HTML, CSS, JavaScript) with a particular growing interest in UX and user-centric design in general.
		I'm always interested in learning about new ways to convey information in attractive, but functional ways.</p>

		<p>I'm a weird kind of combination of a developer, designer, <a href='http://en.wikipedia.org/wiki/Warhammer_40,000'>Warhammer 40k</a> fan and pursuer of various geeky endeavors.</p>
	</section>
</body>
</html>

