<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta charset='utf-8' />
  <!-- TODO: description and such -->
  <title>Cameron Sampson</title>
  <script src="https://use.typekit.net/sbt3yhe.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet' type='text/css' />
  <link href='/devicon.min.css' rel='stylesheet' type='text/css' />
  <link href='/css/site.css' rel='stylesheet' type='text/css' />
  <link href='/styles.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <main class='content'>
    <header class='content-header'>
      <h1 class='content-header-text'>Hi, I'm <strong>Cameron.</strong></h1>
      <p class='content-header-introduction'>I'm a developer/designer living in New Orleans.<br />During the day, I build cool things at <a href='https://luc.id'>Lucid</a>.</p>
    </header>

    <section class='traits'>
      <h1 class='traits-header'>what I Love Working With</h1>

      <ul class='traits-list'>
        <li class='traits-list-item'>
          <i class="devicon-javascript-plain"></i>
        </li>

        <li class='traits-list-item'>
          <i class="devicon-nodejs-plain"></i>
        </li>

        <li class='traits-list-item'>
          <i class="devicon-angularjs-plain"></i>
        </li>

        <li class='traits-list-item'>
          <i class="devicon-html5-plain"></i>
        </li>

        <li class='traits-list-item'>
          <i class="devicon-css3-plain"></i>
        </li>

        <li class='traits-list-item'>
          <i class="devicon-ruby-plain"></i>
        </li>

        <li class='traits-list-item'>
          <i class="devicon-linux-plain"></i>
        </li>
    </section>

    <section class='traits'>
      <h1 class='traits-header'>What I Do For Fun</h1>

      <ul class='traits-list'>
        <li class='traits-list-item'>
          <img src='/images/steam.svg' />
        </li>

        <li class='traits-list-item'>
          <img src='/images/d20.svg' />
        </li>

        <li class='traits-list-item'>
          <img src='/images/cardboard.svg' />
        </li>

        <li class='traits-list-item'>
          <img src='/images/quadcopter.svg' />
        </li>
      </ul>
    </section>
  </main>
</body>
</html>
