<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='description' content="I'm a developer/designer living in New Orleans. During the day, I build cool things at Lucid." />
  <title>Cameron Sampson</title>
  <% if (settings.env === 'production') { %>
    <script src="https://use.typekit.net/oqj8ywl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <% } else { %>
    <script src="https://use.typekit.net/sbt3yhe.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <% } %>
  <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css' />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet' type='text/css' />
  <link href='/devicon.min.css' rel='stylesheet' type='text/css' />
  <link href='/css/site.css' rel='stylesheet' type='text/css' />
  <link href='/styles.css' rel='stylesheet' type='text/css' />
</head>
<body>
  <main class='content'>
    <header class='content-header'>
      <h1 class='content-header-text'>Hi, I'm <strong>Cameron.</strong></h1>

      <p class='content-header-introduction'>I'm a developer/designer living in New Orleans.<br />During the day, I build cool things at <a href='https://luc.id'>Lucid</a>.</p>

    </header>

    <div class='traits'>
      <section class='traits-section'>
        <h1 class='traits-header'>WEAPONS OF CHOICE</h1>

        <ul class='traits-list'>
          <li class='traits-list-item'>
            <i class="devicon-javascript-plain"></i>
          </li>

          <li class='traits-list-item'>
            <i class="devicon-nodejs-plain"></i>
          </li>

          <li class='traits-list-item'>
            <i class="devicon-angularjs-plain"></i>
          </li>

          <li class='traits-list-item'>
            <i class="devicon-ruby-plain"></i>
          </li>
      </section>

      <span class='traits-separator'>::</span>

      <section class='traits-section'>
        <h1 class='traits-header'>Things I Do For Fun</h1>

        <ul class='traits-list'>
          <li class='traits-list-item'>
            <img class='traits-icon' src='/images/steam.svg' alt='Video games' />
          </li>

          <li class='traits-list-item'>
            <img class='traits-icon' src='/images/d20.svg' alt='Tabletop games' />
          </li>

          <li class='traits-list-item'>
            <img class='traits-icon' src='/images/cardboard.svg' alt='Virtual reality' />
          </li>

          <li class='traits-list-item'>
            <img class='traits-icon' src='/images/quadcopter.svg' alt='RC quadcopters' />
          </li>
        </ul>
      </section>
    </div>

    <ul class='social-media'>
      <!-- <li class='social-media-item'><a class='social-media-link' href=''>Email</a></li> -->
      <li class='social-media-item'><a class='social-media-link' href='https://github.com/csampson'>GitHub</a></li>
      <li class='social-media-item'><a class='social-media-link' href='http://www.meetup.com/members/52557152'>Meetup</a></li>
      <li class='social-media-item'><a class='social-media-link' href='https://www.linkedin.com/in/cameronsampson'>LinkedIn</a></li>
    </ul>
  </main>
</body>
</html>
