<!DOCTYPE html>
<html lang='en-US'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='description' content="I'm a software engineer living in New Orleans. During the day, I build cool things at Recurly." />
  <title>Cameron Sampson</title>
  <% if (settings.env === 'production') { %>
    <script src="https://use.typekit.net/oqj8ywl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <% } else { %>
    <script src="https://use.typekit.net/sbt3yhe.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <% } %>
  <link href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css' rel='stylesheet' type='text/css' />
  <link href='https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css' rel='stylesheet' type='text/css' />
  <link href='/static/css/devicon.min.css' rel='stylesheet' type='text/css' />
  <link href='/static/css/styles.css' rel='stylesheet' type='text/css' />
  <% if (settings.env === 'production') { %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67998144-1', 'auto');
      ga('send', 'pageview');
    </script>
  <% } %>
</head>
<body>
  <main class='content'>
    <header class='content-header'>
      <h1 class='content-header-text'>Hi, I'm <strong>Cameron.</strong></h1>

      <p class='content-header-introduction'>I'm a software engineer living in New Orleans.<br />During the day, I build cool things at <a href='https://recurly.com'>Recurly</a>.</p>

    </header>

    <div class='traits'>
      <section class='traits-section'>
        <h1 class='traits-header'>TOOLS OF THE TRADE</h1>

        <ul class='traits-list'>
          <li class='traits-list-item' title='Node.js'>
            <i class="devicon-nodejs-plain"></i>
          </li>

          <li class='traits-list-item' title='React'>
            <i class="devicon-react-original"></i>
          </li>

          <li class='traits-list-item' title='Ruby'>
            <i class="devicon-ruby-plain"></i>
          </li>

          <li class='traits-list-item' title='Linux'>
            <i class="devicon-linux-plain"></i>
          </li>
      </section>

      <span class='traits-separator'>::</span>

      <section class='traits-section'>
        <h1 class='traits-header'>Things I Do For Fun</h1>

        <ul class='traits-list'>
          <li class='traits-list-item' title='Video Games'>
            <img class='traits-icon' src='/static/images/steam.svg' alt='Video games' />
          </li>

          <li class='traits-list-item' title='Tabletop games'>
            <img class='traits-icon' src='/static/images/d20.svg' alt='Tabletop games' />
          </li>

          <li class='traits-list-item' title='Virtual reality'>
            <img class='traits-icon' src='/static/images/cardboard.svg' alt='Virtual reality' />
          </li>

          <li class='traits-list-item' title='Quadcopters'>
            <img class='traits-icon' src='/static/images/quadcopter.svg' alt='Quadcopters' />
          </li>
        </ul>
      </section>
    </div>

    <ul class='social-media'>
      <!-- <li class='social-media-item'><a class='social-media-link' href=''>Email</a></li> -->
      <li class='social-media-item'><a class='social-media-link' href='https://github.com/csampson'>GitHub</a></li>
      <li class='social-media-item'><a class='social-media-link' href='http://www.meetup.com/members/52557152'>Meetup</a></li>
      <li class='social-media-item'><a class='social-media-link' href='https://www.linkedin.com/in/cameronsampson'>LinkedIn</a></li>
    </ul>
  </main>
</body>
</html>
