@charset "UTF-8";

@font-face {
  font-family: "devicon";
  src:url("../fonts/devicon.eot");
  src:url("../fonts/devicon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/devicon.woff") format("woff"),
    url("../fonts/devicon.ttf") format("truetype"),
    url("../fonts/devicon.svg#devicon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "devicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "devicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-d20:before {
  content: "a";
}
.icon-quadcopter:before {
  content: "b";
}
.icon-radio:before {
  content: "c";
}
.icon-cardboard:before {
  content: "d";
}
.icon-steam:before {
  content: "e";
}

:root {
  --color-accent: #F26419;
  --color-primary: #2F4858;
}

body {
  background-color: var(--color-primary);
  color: #FFFFFF;
  font-family: 'proxima-nova', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'museo-sans', sans-serif;
}

strong {
  color: var(--color-accent);
}

a {
  transition: all 0.25s ease;
  border-bottom: 2px solid var(--color-accent);
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--color-accent);
}

.content {
  width: 44rem;
  margin: 15vh auto 5vh;
  display: table;
}

.content-header {
  text-align: center;
  margin-bottom: 5rem;
}

.content-header-text {
  font-family: 'museo-sans', sans-serif;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.content-header-text::after {
  content: '';
  background-image: radial-gradient(ellipse at 50% -100%, rgba(255,255,255,0.25) 0,rgba(255,255,255,0) 70%);
  width: 50%;
  height: 2px;
  margin: 1rem auto 0;
  display: block;
}

.content-header-introduction {
  font-size: 1.825rem;
  margin: 2rem 0 3rem;
}

.traits {
  text-align: center;
}

.traits-section {
  vertical-align: middle;
  display: inline-block;
}

.traits-separator {
  font-size: 1.5rem;
  margin: 0 2rem;
  display: inline-block;
}

.traits-header {
  border-bottom: 2px solid var(--color-accent);
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  margin: 0 auto;
  display: table;
}

.traits-list {
  font-size: 2rem;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.traits-list-item {
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  display: inline-flex;
  vertical-align: middle;
}

.traits-list-item:nth-child(5) {
  clear: left;
}

.traits-icon {
  max-height: 1.475rem;
}

.social-media {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 6rem auto 0;
  display: table;
}

.social-media-item {
  padding: 0rem 1.5rem;
  display: inline-block;
}

.social-media-item + .social-media-item:not(:last-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.social-media-link {
  border: none;
  font-size: 85%;
  text-transform: uppercase;
}

@media (max-width: 60rem) {
  .content {
    margin-top: 10vh;
  }

  .content-header {
    margin-bottom: 3rem;
  }
}

@media (max-width: 50rem) {
  .content {
    width: 100%;
    margin: 0 auto 5vh;
  }

  .content-header-text {
    font-size: 3rem;
    margin-bottom: 2rem;
  } 

  .content-header-introduction {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .social-media {
    margin-top: 4rem;
  }
}

@media (max-width: 40rem) {
  .content-header {
    margin-bottom: 3rem;
  }

  .content-header-text {
    font-size: 2rem;
  }

  .content-header-introduction {
    font-size: 1rem;
  }

  .traits-section {
    margin-top: 1rem;
    display: block;
  }

  .traits-separator {
    display: none;
  }

  .traits-list {
    font-size: 3rem;
  }

  .traits-icon {
    max-height: 2.5rem;
  }

  .social-media {
    margin-top: 2rem;
  }
}
