*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  background: #E8E8E8;
}

body {
  box-shadow: 0 0 0.75em rgba(0,0,0,0.15);
  border: 1px solid #BBB;
  background: #FFF;
  color: #272727;
  font-family: 'Open Sans', sans-serif;
  font-size: 85%;
  width: 960px;
  padding: 25px;
  margin: 2.5% auto;
}

a {
  @include transition(color .25s 0s);
  color: #272727;
  font-weight: bold;

  &:hover {
    color: #777;
  }
}
