@import 'bourbon/bourbon';
@import 'normalize';
@import 'base';

%page-section {
  padding: 5px 0;
  overflow: hidden;
  clear: both;
}

%page-subheader {
  border-bottom: 1px dotted #AAA;
  font-size: 100%;
  line-height: 0;
  margin-bottom: 1.5em;
}

%page-subheader span {
  background: white;
  padding: 0 5px;
  margin-left: 15px;
}

.page-header {
  text-align: center;
  padding: 25px 0;
  position: relative;
}

.page-header-title {
  line-height: 1;
  margin-top: 0;
}

.page-header-spiel {
  font-size: 110%;
  margin-bottom: 0;
}

.personal-links {
  position: absolute;
  right: -15px;
  top: -15px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    float: left;
    margin-right: 5px;
  }

  a {
    color: #BBB;
    font-size: 165%;
    text-decoration: none;
  }

  a:hover {
    color: #555;
  }

  a span {
    text-indent: -999em;
    display: inline-block;
  }
}

.skills {
  @extend %page-section;
}

.skills-header {
  @extend %page-subheader;
}

.skills-breakdown, .skills-chart, .skills-interests {
  float: left;
}

.skills-breakdown {
  width: 35%;
  margin: 0;

  .skills-breakdown-divisions {
    margin: 10px 0;
    overflow: hidden;

    .development-division, .design-division {
      background: #272727;
      color: #FFF;
      text-align: center;
      height: 75px;
      line-height: 75px;
      width: 60%;
      float: left;
    }

    .design-division {
      background: #E7E7E7;
      color: #272727;
      width: 40%;
    }
  }

  .development-spiel, .design-spiel {
    font-size: 80%;
  }

  .design-spiel {
    text-align: right;
  }
}

.skills-chart {
  line-height: 1;
  width: 22%;
  margin: 1em 2% 0 6%;
  overflow: hidden;

  .skill-name, .skill-proficiency {
    float: left;
  }

  .skill-name {
    font-size: 85%;
    margin: 5px 5px 8px 0;
    clear: left;
  }

  .skill-name span {
    text-indent: -9999em;
    display: inline-block;
  }

  .skill-proficiency {
    width: 100%;
    height: 8px;
    margin: 0;
  }

  .skill-proficiency span {
    background: #272727;
    width: 25%;
    height: 100%;
    text-indent: -9999px;
    vertical-align: middle;
    display: block;
  }

  .skill-proficiency.adept span {
    width: 40%;
  }

  .skill-proficiency.intermediate span {
    width: 55%;
  }

  .skill-proficiency.skilled span {
    width: 70%;
  }

  .skill-proficiency.advanced span {
    width: 90%;
  }
}

.skills-interests {
  font-size: 115%;
  line-height: 2.5;
  width: 35%;
  padding-left: 0;
  margin: 1em 0;

  li {
    list-style: none;
  }

  li span {
    vertical-align: middle;
  }

  .icon {
    background: url('/images/icons.png') no-repeat;
    width: 28px;
    height: 28px;
    margin-right: 0.25em;
    display: inline-block;
  }

  .icon.brush {
    background-position: -28px top;
  }

  .icon.user {
    background-position: right top;
  }
}

.portfolio {
  @exnted %page-section;

  .portfolio-header {
    @extend %page-subheader;
  }

  .portfolio-projects {
    list-style: none;
    padding: 0;
    padding: 0 6px;
    margin: 15px 0 0;
  }

  .portfolio-project {
    width: 48%;
    margin: 5px 0;
    float: left;
    position: relative;
  }

  .portfolio-project.even {
    margin-right: 4%;
    clear: left;
  }

  .portfolio-project.contribution::before {
    content: 'contribution';
    background: #363636;
    color: #FFF;
    font-size: 80%;
    font-weight: bold;
    padding: 1ex;
    position: absolute;
    right: 0;
    top: 4px;
  }

  .portfolio-project a {
    box-shadow: 0 1px 2px #777;
    border: 4px solid #EEE;
    background: none repeat scroll 0 0 #272727;
    text-align: center;
    height: 150px;
    line-height: 150px;
    padding: 0 10px;
    margin: 0 -4px;
    display: block;
  }

  .portfolio-project img {
    border: none;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.about-me {
  @extend %page-section;

  .about-me-header {
    @extend %page-subheader;
  }
}


@media (max-width: 980px) {
  body {
    width: 92.5%;
    padding: 1.875%;
    margin: 1.875%;
  }

  .personal-links {
    top: 1.875%;
    right: 1.875%;
  }

  .skills-interests {
    font-size: 100%;
  }
}

@media (max-width: 600px) {
  body {
    width: 97.5%;
  }

  .page-header-title {
    font-size: 150%;
  }

  .personal-links {
    text-align: center;
    margin-top: 25px;
    position: static;
  }

  .personal-links li {
    float: none;
    display: inline-block;
  }

  .personal-links a {
    color: #272727;
    font-size: 200%;
  }

  .skills-breakdown, .skills-chart {
    width: 46%;
    margin: 0 4% 0 0;
  }

  .skills-interests {
    width: 100%;
    text-align: center;
    clear: both;
  }

  .skills-interests li {
    margin: 0 1em;
    display: inline-block;
  }
}

@media (max-width: 450px) {
  body {
    border: none;
    width: auto;
    padding: 2.5%;
    margin: 0;
  }

  .page-header-title {
    font-size: 110%;
  }

  .skills-breakdown, .skills-chart, .skills-interests {
    width: auto;
    margin: 2em 0;
    float: none;
  }

  .skills-interests {
    font-size: 125%;
    text-align: left;
  }

  .portfolio-project {
    width: 100%;
    float: none;
  }
}
